@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    /* --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji"; */
    --font-sans: "Urbanist", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
    @apply font-sans;
}

a,
button {
    @apply cursor-pointer;
}

.container {
    @apply max-w-6xl h-full !mx-auto px-4 sm:px-6 lg:px-8;
}

.footer-title {
    @apply text-lg font-semibold text-orange-500 mb-4;
}

.btn {
    @apply text-white bg-orange-500 hover:bg-orange-600 transition py-2 px-4 rounded-lg;
}

h2.title {
    @apply flex items-center justify-center gap-4 text-3xl font-bold mb-2 text-center;
}

h2.title::before,
h2.title::after {
    content: "";
    @apply h-1 w-8 bg-orange-500;
}

p.description {
    @apply text-gray-500 text-center text-lg max-w-2xl mx-auto;
}

p.error {
    @apply text-sm text-red-500;
}

.input {
    @apply w-full border border-gray-300 rounded-lg px-4 py-2;
}

/* ckeditor */

.ck-editor__editable {
    @apply h-36 resize-y;
}

.ck-editor__editable p {
    @apply mb-4;
}

.ck-editor__editable h2,
.text-content h2 {
    @apply font-semibold text-lg mb-2 text-gray-800;
}

.text-content {
    @apply leading-relaxed text-gray-600 space-y-4 mt-4;
}

.ck-editor__editable ol,
.text-content ol {
    @apply list-decimal mb-4 ml-8;
}

.ck-editor__editable ol li,
.text-content ol li {
    @apply pl-2;
}

.ck-editor__editable ul,
.text-content ul {
    @apply list-disc mb-4 ml-8;
}

.ck-editor__editable ul li,
.text-content ul li {
    @apply pl-2;
}

.btn {
    @apply font-medium rounded-full py-2 px-4 lg:px-6 bg-orange-500 hover:bg-orange-600 flex gap-2 items-center justify-center transition text-white;
}

.text-content p {
    @apply mb-4;
}

/* Swiper */
.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    @apply bg-orange-500;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

/* .card-wrapper .swiper-slide-button {
    @apply text-orange-500 w-8 h-8;
} */

.card-wrapper .swiper-slide-button::after {
    @apply text-orange-500 text-4xl font-medium;
}

/* @media screen and (max-width: 768px) {
    .card-wrapper .swiper-slide-button {
        display: none;
    }
} */
